/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Cinzel", serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.4rem;
}

a {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  display: inline-block;
}
img {
  display: block;
}
h1 {
  font-size: 10rem;

  text-transform: capitalize;
  font-weight: 400;
  line-height: 1;
  color: white;
}
h2 {
  font-size: 7rem;
  text-transform: capitalize;
  line-height: 0.8;
  font-weight: 400;
  color: white;
}
h3 {
  font-size: 3rem;
  text-transform: capitalize;
  line-height: 1;
  font-weight: 400;
  color: white;
}
h4 {
  font-size: 2.4rem;
  text-transform: capitalize
  line-height: 2.4;
  font-weight: 700;
  color: white;
}
h5 {
  font-size: 1.8rem;
  text-transform: capitalize;
  line-height: 1.6;
  font-weight: 400;
  color: white;
}
h6 {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.7;
  font-weight: 400;
  color: white;
}

/*---------------------
      Header Style 
-----------------------*/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/backgrounds/background1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 20rem;
}
/* Nav Bar */
nav {
  width: 74vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 4.5rem 0;
  margin-bottom: 5rem;
}
.menu-link ul {
  list-style: none;
  display: flex;
  width: 220px;
  margin: 0 6rem 0 6rem;
  justify-content: space-between;
}
.menu-link a {
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}
.menu-link a:hover {
  color: #b28b65;
}
.menu-logo img {
  max-width: 15rem;
}

/* Hero Section */
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.hero-container h4 {
  margin-bottom: 1rem;
}
.hero-container h1{
  margin-bottom: 3.5rem;
}
.hero-container a {
  color: black;
}
.line {
  background: white;
  height: 2px;
  width: 30px;
  margin-bottom: 3.5rem;
}
.primary-button {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  background: white;
  padding: 1.8rem 2.5rem;
  transition: 0.3s ease-in-out;
}
.primary-button:hover{
  background: #B28E65;
  color: white;
}

/*---------------------
     History Section 
-----------------------*/
.history-container {
  background: url(images/backgrounds/background2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.history-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15rem 0;
  width: 52%;
}
.line2{
  background: white;
  height: 2px;
  width: 50px;
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}

.history-content h5 {
  margin-bottom: 3rem;
}
.history-content h6 {
  margin-bottom: 2rem;
}
.history-content p {
  color: white;
  margin-bottom: 5rem;
}
.primary-button2{
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  background: #705479;
  padding: 1.8rem 2.5rem;
  transition: 0.3s ease-in-out;
}
.primary-button2:hover{
  background: white;
  color: black;
}
/*---------------------
     Menu Section 
-----------------------*/
.menus{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menus h4 {
  width: 65%;
  font-weight: 400;
  margin-bottom: 3.5rem;
}
.menu1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/backgrounds/background3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1 1 40rem; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 19rem 0;
}
.menu2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/backgrounds/background4.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1 1 40rem; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 19rem 0;
}
.line3{
  background: white;
  height: 2px;
  width: 50px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.secondary-button{
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  background-color: #b28b65;
  padding: 1.8rem 2.5rem;
  transition: 0.3s ease-in-out;
}
.secondary-button:hover{
  background: #705479;
}
.secondary-button2{
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  background-color: #705479;
  padding: 1.8rem 2.5rem;
  transition: 0.3s ease-in-out;
}
.secondary-button2:hover{
  background: white;
  color: black;
}

/*---------------------
    Product Section 1 
-----------------------*/
.products1 {
  background: #FAF6EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 14rem;
  padding-bottom: 10rem;
  text-align: center;
}
.line4 {
  background: #b28b65;
  height: 1px;
  width: 50px;
  margin-bottom: 3rem;
}
.products1 h2 {
  color: black;
  width: 90%;
}
.bottles{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem .5rem;
}
.bottles h5 {
  color: #b28b65;
  padding-bottom: 2rem;
}
.bottle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  padding-top: 3rem;
  margin: 0.5rem;
  max-width: 325px;
}

.bottle:hover{
  background-color: white;
}

.bottle a {
  font-family: 'Cinzel', sans-serif;
  color: black;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 27px;
  padding: 1.5rem 2rem 2rem 2rem;
}
.product-line{
  background: #b28b65;
  height: 0.5px;
  width: 100%;
  margin-bottom: 2rem;
}
.secondary-button3{
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  color: #705479;
  border: 1px solid #b28b65;
  padding: 1.8rem 2.5rem;
  transition: 0.3s ease-in-out;
}
.secondary-button3:hover{
  border: 1px solid black;
}
/*---------------------
    Catalogue Section 
-----------------------*/
.catalogue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 14rem;
  padding-bottom: 8rem;
}
.catalogue-container h2{
  color: black;
  width: 90%;
}
.catalogues {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 1150px;
  margin-top: 6rem;
  padding: 0 1rem;
}
.catalogue {
  margin: 0.5rem;
  width: 33.33%;
}
.catalogue img {
  width: 100%;
}
.catalogue-content {
  padding: 2rem 3.5rem 4rem 3.5rem;
}
.catalogue-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.catalogue p{
  font-size: 1.6rem;
  color: #676767;
  margin-bottom: 2.5rem;
}
.catalogue-title {
  display: flex;
}
.c-title a {
  font-family: 'Cinzel', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 28.8px;
  color: black;
}
.c-price a {
  font-family: 'Cinzel', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 28.8px;
  color: #b28b65;
}
.underlined-btn {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #b28b65;
  text-transform: uppercase;
  text-decoration: underline;
}
/*---------------------
    Gallery Section 
-----------------------*/
.gallery-container {
  display: flex;
}
.galleries {
  display: flex;
}
.galleries img {
  filter: brightness(80%);
  width: 100%;
}
.galleries img:hover{
  filter: brightness(100%);
}
.gallery1 {
 width: 50%;
}
.gallery2 {
  background: #B28E65;
  width: 25%;
}
.more-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
}
.line5 {
  background: white;
  height: 1px;
  width: 50px;
  margin: 3.5rem 0;
}
.more-button h2 {
  font-size: 4.55vw;
  margin-bottom: 3rem;
}
.fa-angle-right{
  font-size: 1.5rem;
  padding: 2rem 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s linear;
}
.fa-angle-right:hover{
  transform: scale(1.1);
}
.gallery3 {
  width: 25%;
}
/*---------------------
    Outlet Section 
-----------------------*/
.outlet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2.5rem;
}
.outlet-container h2 {
  color: black;
  padding-top: 13rem;
}
.outlet-container h4 {
  color: #b28b65;
  font-weight: 400;
  padding: 1.7rem 2rem 5rem 2rem;
  max-width: 800px;
}
.outlets {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2.5rem;
}
.outlets h3 {
  line-height: 1;
  padding-bottom: 3rem;

}
.underlined-btn2 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 2rem;
  transition: 0.2s ease-in-out;
}
.underlined-btn2:hover {
  color:#b28b65;
}
.outlet-bg {
  height: 524px;
  width: 19.7%;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.outlet-bg:hover {
 filter: brightness(130%);
}
.outlet1 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url(images/outlets/outlet1.jpg);
  background-size: cover;
  background-position: center;
}
.outlet2 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url(images/outlets/outlet2.jpg);
  background-size: cover;
  background-position: center;
}
.outlet3 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url(images/outlets/outlet3.jpg);
  background-size: cover;
  background-position: center; 
}
.outlet4 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url(images/outlets/outlet4.jpg);
  background-size: cover;
  background-position: center;
}
.outlet5 {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url(images/outlets/outlet5.jpg);
  background-size: cover;
  background-position: center;
}
.outlet-content {
  position: absolute;
  bottom: 0;
  padding: 0 2rem;
}
/*---------------------
  Event Call to Action 
-----------------------*/
.event-cta-container {
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(images/backgrounds/background5.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 12rem 3rem 16rem 3rem;
}
.event-cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.event-cta h2{
  padding-bottom: 3rem;
}
.event-cta h5{
 padding-bottom: 5rem;
 text-transform: uppercase;
 max-width: 830px; 
}
.cta-buttons {
  display: flex;
}
.cta-btn {
  margin-right: 1rem;
}

/*---------------------
    Contact Section 
-----------------------*/
.contact-container{
  background: url(images/backgrounds/bg-06-free-img.jpg);
  background-size: cover;
  background-position: center;
}
.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15rem 2rem 12.5rem 2rem;
}
.contact-text{
  font-size: 1.8rem;
  line-height: 1.5;
  color: #000000;
  padding-bottom: 2rem;
}
.contacts h2{
  color: #000000;
}
.social-icons{
  padding-top: 4rem;
}
.social-icons a{
  font-size: 1.7rem;
  color: #705479;
  background: white;
  padding: 1.5rem 2rem;
  margin: 0 .5rem;
  border-radius: 50%;
  cursor: pointer;
}
.social-icons a:hover{
 color: #b28b65;
}
.long-line{
  background: #cfcece;
  width: 100%;
  height: 0.5px;
}
.copyright p{
  font-size: 1.4rem;
  color: #676767;
  text-align: center;
  padding: 2rem 0 2rem 0;
}


/*---------------------
     Responsiveness 
-----------------------*/
.checkbtn {
  font-size: 2.5rem;
  color: white;
  line-height: 8rem;
  cursor: pointer;
  position: absolute;
  top: 22rem;
  display: none;
}
#check {
  display: none;
}


@media (max-width: 1024px) {
.history-content {
  width: 79%;
}

.menus h4 {
  width: 95%;
}

.menu-link {
  display: none;
}
  .checkbtn {
    display: block;
  } 
  
 /* Products Section */
.products1 {
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.bottles {
  padding: 3rem 2rem;
}
.bottles img {
  width: 117px;
}
.bottles a{
  padding: 1.5rem 0;
}
/*---------------------
    Catalogue Section 
-----------------------*/
.catalogue-container {
  padding-top: 10rem; 
  padding-bottom: 6rem;
}
.catalogues {
  padding: 0 2rem;
}
.catalogue-content {
  padding: 2rem 1rem 4rem 1rem;
}
/* Gallery Section */
.more-button h2{
 margin-bottom: 1rem;
}
.fa-angle-right{
  padding: 1rem 1.5rem;
}
/*---------------------
    Outlet Section 
-----------------------*/
.outlet-bg{
 height: 346px;
 width: 33%;
}
  .outlet4 {
    display: none;
  }
  .outlet5 {
    display: none;
  }
 /*---------------------
  Event Call to Action 
-----------------------*/
.event-cta-container{
  padding-bottom: 12rem;
  background-attachment: scroll;
}
}

@media (max-width: 950px) {
  header {
    padding-bottom: 10rem;
  }
  .hero-container h1 {
    font-size: 6.5rem;
  }
  .history-content{
    width: 92%;
    padding: 10rem 0;
  }
  .history-content h2{
    font-size: 6rem;
  }
  .history-content h5 {
    font-size: 1.6rem;
  }
  .history-content p {
    font-size: 1.4rem;
  }
  .menus h2 {
    font-size: 5rem;
  }
  .menus h4 {
    font-size: 2rem;
  }
  .menu1 {
    padding: 12rem 0;
  }
  .menu2 {
    padding: 12rem 0;
  }

/* Products Section */
.bottles a{
  font-size: 1.45rem;
}
 .products1 h2{
   font-size: 5.5rem;
 }
 /*---------------------
    Catalogue Section 
-----------------------*/
.catalogue-container h2{
  font-size: 5.5rem;
}
.catalogue p{
  font-size: 1.45rem;
}
.c-title a {
  font-size: 1.64rem;
}
.c-price a {
  font-size: 1.64rem;
}
.underlined-btn {
  font-size: 1.09rem;
}
/* Outlets Section */
.outlets h3{
  font-size: 2.8rem;
}
.underlined-btn2{
  font-size: 1.09rem;
}
.outlet-container h2 {
  font-size: 5.5rem;
}
/* Event CTA Section */
.event-cta h2{
  font-size: 5.5rem;
}
.event-cta h5{
 font-size: 1.64rem;
}
/* Footer Section */
.contact-heading{
   font-size: 5.5rem;
}
}

@media (max-width: 800px) {
  /* Products Section */
  .bottles{
    flex-wrap: wrap;
  }
  .bottle {
    max-width: 100%;
    width: 100%;
  }
  .products1 {
    padding-bottom: 2rem;
  }
  /* Catalogue Section */
 .catalogues {
   flex-wrap: wrap;
 }
 .catalogue {
  flex: 1 1 40rem;
 }
 .catalogue img {
 max-width: 370px;
 }
/* Gallery Section */
 .fa-angle-right{
  padding: 0.5rem 1rem;
}
 .line5 {
  margin: 2rem 0;
 }
  /* Outlets Section */
  .outlets{
    flex-wrap: wrap;
  }
  .outlet4 {
    display: flex;
  }
  .outlet5 {
    display: flex;
  }
  .outlet-bg{
   height: 524px;
   width: 100%;
   margin-bottom: 2rem;
  } 
  /* Event CTA Section */
.event-cta-container{
  padding: 6rem 2rem 8rem 2rem;
}
}

@media (max-width: 520px) {
  h4 {
    font-size: 2.1rem;
  }
  .hero-container h1 {
    font-size: 5rem;
  }
  .history-content h2{
    font-size: 4rem;
  }
  .menus h2 {
    font-size: 4rem;
  }
  header {
    padding-bottom: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
    /* Products Section */
    .products1 h2 {
     font-size: 4rem;
    }
     /* Catalogue Section */
     .catalogue-container h2{
      font-size: 4rem;
    } 
    /* Gallery Section */
    .fa-angle-right{
      font-size: 1rem;
      padding: 0.2rem 0.5rem;
    }
    .line5{
      margin: 1rem;
    }
    /* Outlet Section */
    .outlet-container h2{
      font-size: 4.4rem;
    }
    .outlets h3{
      font-size: 2.6rem;
    }
    /* Event CTA Section */
    .event-cta-container{
      padding: 4rem 2rem 8rem 2rem;
    }
    .event-cta h2{
      font-size: 4rem;
    }
    .event-cta h5{
     font-size: 1.64rem;
    }
     /* Footer Section */
  .contact-heading{
    font-size: 4rem;
 }
 .contacts {
  padding: 4rem 2rem 4rem 2rem;
 }
}
@media (max-width: 400px){
  .cta-buttons{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .cta-btn {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .cta-btn2{
    padding: 1.8rem 2.9rem;
  }
 
}
